.forms{
    display: flex;
    flex-direction: column;
}
input{
    padding: 1%;
    width: 60%;
    margin: 1%;
}
.submit{
    padding: 2%;
/* margin-left: 3%; */
    width: 60%;

}
body{
    margin: 0;
    padding: 0;
}
img{
    width: 20%;
    height: 20%;
}